;; how row mods
;; if issues, try this from https://github.com/pqrs-org/Karabiner-Elements/issues/2348#issuecomment-1567912261
;; (from this thread: https://github.com/pqrs-org/Karabiner-Elements/issues/2348)
;;   :profiles {:Default
;;                 {
;;                  :default true
;;                  :sim     100
;;                  :delay   200
;;                  :alone   180
;;                  :held    1000
;;                  }
;;              }
;;   :simlayer-threshold 800
{:profiles {:Default
            {:default true
             ;; how long a key should be pressed alone before
             ;; it is considered "long pressed" and therefore cancelled.
             ;; cannot be key-repeated sadly.
             :alone   180 ;;  documentation: to_if_alone_timeout_milliseconds

             ;; this one doesn't seem to be fore anything because
             ;; this config doesn't have any delayed actions
             ;; :delay   200 ;; documentation: to_delayed_action_delay_milliseconds

             ;; to_if_held_down posts events when the from key is held down.
             ;; If `to` events are specified, key_up event of `to` is sent
             ;; before to_if_held_down events are posted.
             ;; also don't think this one is doing anything
             ;; :held    1000 ;; documentation: to_if_held_down_threshold_milliseconds

             ;; simlayers are built on "simultaneous" behavior which is why
             ;; if you hold them too long they just start to key repeat.
             ;; they're used instead of normal layers because in normal layers
             ;; there's no flexibility on timing. if a key is down and that key enables a layer,
             ;; that layer will be on, so no rolling keys alowed.
             ;; simultaneous does not modify events if any
             ;; `from` events are released before all `from` events are pressed.
             ;; and simultaneous does not modify events if `from` events are interrupted by
             ;; another key_down event.
             ;; they also don't care about order, so that could be why
             ;; holding two of them together was acting a bit weird?
             ;; like if i type shift-l-g sometimes it comes out as LG.
             ;; The key_up event is posted when you release the first `from`
             ;; event of the combo.

             ;; the window for how long you have between hitting two keys
             ;; for them to be considered "simultaneous".
             ;; (not how long they have to be held together).
             ;; if this is set to a longer value, keys will be considered
             ;; pressed simultaneously easier.
             ;; :sim     800
             ;; documentation: simultaneous_threshold_milliseconds
             }}

;; if it feels like i need more time to roll letters, increase this value
;; i'm not sure what the above :sim value does, it's changing something in the config
;; but this one seems to control the threshold for all the individual values in karabiner.json
;; its default is 250 i think.
;; because simultaneous is cancelled if another button is pressed this value increasing gives a bigger window
;; for you to stop rolling the keys or hit another key to cancel the sim. but it just means you also have
;; to wait this long for the sim to fire so try and find a value sufficiently high that you don't accidentally trigger
;; the mods often by accident but also low enough that you don't mind the lag between hitting, say, cmd-a and actually
;; highlighting the thing.
;; one thing it definitely controls is how long you have to hold command for something like
;; command-tab until command-tab is considered "held" so you can see the options
 :simlayer-threshold 500
 :simlayers {;; left-hand on ACGS
             :s-mode {:key :s} ;; left control
             :d-mode {:key :d} ;; left command
             :f-mode {:key :f} ;; left shift
              ;; right-hand on SGCA
             :j-mode {:key :j} ;; right shift
             :k-mode {:key :k} ;; right command
             :l-mode {:key :l}} ;; right control
 :main [{:des   "caps lock to esc when pressed alone, to ctrl as modifier"
         :rules [[:##caps_lock :left_control nil {:alone :escape}]]}
        {:des   "right option to esc when pressed alone, control when held"
         :rules [[:##right_option :left_control nil {:alone :escape}]]}
        {:des   "left command h to Tab"
         :rules [[:!Ch :tab]]}
        {:des   "right command i to shift Tab"
         :rules [[:!Qg :!Stab]]}
        {:des   "command y to command shift z"
         :rules [[:!Ct :!CSslash]]}
        {:des   "command y to command shift z"
         :rules [[:!Qt :!CSslash]]}
        {:des "Left Control (and Option sometimes) to S"
         :rules [[:condi :!a-mode :s-mode :!d-mode :!f-mode :!j-mode :!k-mode :!l-mode]
                ;;  disable combos, if there's a specific command-control/command-shift, enable that specifically
                ;;  [:##a :left_option]
                ;;  [:##s :left_control]
                ;;  [:##d :left_command]
                ;;  [:##f :left_shift]

                ;; home row
                ;; control d
                 [:##h :!Th]
                ;; control t
                 [:##k :!Tk]

                ;; top row
                 [:##i :!Ti]

                ;; bottom row
                ;; option left arrow from b
                 [:##n :!Oleft_arrow]
                ;;  option right arrow from w
                 [:##comma :!Oright_arrow]
                ;; control v (for visual mode)
                 [:##period :!Tperiod]

                ;; number row
                 [:##6 :!T6]
                 [:##7 :!T7]
                 [:##8 :!T8]
                 [:##9 :!T9]
                 [:##0 :!T0]

                ;; other keys
                ;; option backspace
                 [:##delete_or_backspace :!Odelete_or_backspace]
                 [:##left_arrow :!Tleft_arrow]
                 [:##right_arrow :!Tright_arrow]
                 [:##up_arrow :!Tup_arrow]
                 [:##down_arrow :!Tdown_arrow]]}
        {:des "Left Command to D"
         :rules [[:condi :!a-mode :!s-mode :d-mode :!f-mode :!j-mode :!k-mode :!l-mode]
                ;;  [:##a :left_option]
                ;;  [:##s :left_control]
                ;;  [:##d :left_command]
                ;;  [:##f :left_shift]

                ;; top row
                ;; command f
                 [:##y :!Cy]
                ;; command c
                 [:##i :!Ci]
                ;; command l
                 [:##p :!Cp]

                ;; home row
                ;; command t
                 [:##k :!Ck]
                ;;  command n
                 [:##l :!Cl]
                ;;  command s
                 [:##semicolon :!Csemicolon]

                ;; bottom row
                ;; command b
                 [:##n :!Cn]
                ;; command w
                 [:##comma :!Ccomma]
                ;; command v
                 [:##period :!Cperiod]
                ;; command z
                 [:##slash :!Cslash]

                ;; number row
                 [:##6 :!C6]
                 [:##7 :!C7]
                 [:##8 :!C8]
                 [:##9 :!C9]
                 [:##0 :!C0]

                 ;; other keys
                 ;; command [
                 [:##hyphen :!Chyphen]
                 ;; command ]
                 [:##equal_sign :!Cequal_sign]
                 ;; command \
                 [:##backslash :!Cbackslash]
                 ;; command /
                 [:##open_bracket :!Copen_bracket]
                 ;; command +
                 [:##close_bracket :!Cclose_bracket]
                 ;; command delete
                 [:##delete_or_backspace :!Cdelete_or_backspace]
                 ;; command enter
                 [:##return_or_enter :!Creturn_or_enter]]}

        {:des "Left Shift to F"
         :rules [[:condi :!a-mode :!s-mode :!d-mode :f-mode :!j-mode :!k-mode :!l-mode]
                ;;  [:##a :left_option]
                ;;  [:##s :left_control]
                ;;  [:##d :left_command]
                ;;  [:##f :left_shift]

                ;; top row
                 [:##y :!Sy]
                 [:##u :!Su]
                 [:##i :!Si]
                 [:##o :!So]
                 [:##p :!Sp]

                ;; home row
                 [:##h :!Sh]
                 [:##j :!Sj]
                 [:##k :!Sk]
                 [:##l :!Sl]
                 [:##semicolon :!Ssemicolon]

                 ;; bottom row
                 [:##n :!Sn]
                 [:##m :!Sm]
                 [:##comma :!Scomma]
                 [:##period :!Speriod]
                 [:##slash :!Sslash]

                ;; number row
                 [:##6 :!S6]
                 [:##7 :!S7]
                 [:##8 :!S8]
                 [:##9 :!S9]
                 [:##0 :!S0]

                ;; other keys
                 [:##hyphen :!Shyphen]
                 [:##equal_sign :!Sequal_sign]
                 [:##backslash :!Sbackslash]
                 [:##open_bracket :!Sopen_bracket]
                 [:##close_bracket :!Sclose_bracket]
                 [:##delete_or_backspace :!Sdelete_or_backspace]
                 [:##quote :!Squote]
                 [:##return_or_enter :!Sreturn_or_enter]
                 [:##left_arrow :!Sleft_arrow]
                 [:##right_arrow :!Sright_arrow]
                 [:##up_arrow :!Sup_arrow]
                 [:##down_arrow :!Sdown_arrow]]}
        {:des "Right Shift to J"
         :rules [[:condi :!a-mode :!s-mode :!d-mode :!f-mode :j-mode :!k-mode :!l-mode]
                ;;  [:##j :right_shift]
                ;;  [:##k :right_command]
                ;;  [:##l :right_control]
                ;;  [:##semicolon :right_option]

                ;; top row
                 [:##q :!Rq]
                 [:##w :!Rw]
                 [:##e :!Re]
                 [:##r :!Rr]
                 [:##t :!Rt]

                ;; home row
                 [:##a :!Ra]
                 [:##s :!Rs]
                 [:##d :!Rd]
                 [:##f :!Rf]
                 [:##g :!Rg]

                ;; bottom row
                 [:##z :!Rz]
                 [:##x :!Rx]
                 [:##c :!Rc]
                 [:##v :!Rv]

                ;; number row
                 [:##1 :!R1]
                 [:##2 :!R2]
                 [:##3 :!R3]
                 [:##4 :!R4]
                 [:##5 :!R5]

                ;; other keys
                 [:##grave_accent_and_tilde :!Rgrave_accent_and_tilde]
                 [:##tab :!Rtab]]}
        {:des "Right Command to K"
         :rules [[:condi :!a-mode :!s-mode :!d-mode :!f-mode :!j-mode :k-mode :!l-mode]
                ;;  [:##j :right_shift]
                ;;  [:##k :right_command]
                ;;  [:##l :right_control]
                ;;  [:##semicolon :right_option]

                ;; top row
                 [:##q :!Qq]
                 [:##w :!Qw]
                 [:##e :!Qe]
                 [:##r :!Qr]
                 [:##t :!QRslash]

                ;; home row
                 [:##a :!Qa]
                 [:##s :!Qs]
                 [:##d :!Qd]
                 [:##f :!Qf]
                 [:##g :!Qg]

                ;; bottom row
                 [:##z :!Qz]
                 [:##x :!Qx]
                 [:##c :!Qc]
                 [:##v :!Qv]

                ;; number row
                 [:##1 :!Q1]
                 [:##2 :!Q2]
                 [:##3 :!Q3]
                 [:##4 :!Q4]
                 [:##5 :!Q5]

                ;; other keys
                 [:##grave_accent_and_tilde :!Qgrave_accent_and_tilde]
                 [:##tab :!Qtab]]}
        {:des "Right Control to L"
         :rules [[:condi :!a-mode :!s-mode :!d-mode :!f-mode :!j-mode :!k-mode :l-mode]
                ;;  [:##j :right_shift]
                ;;  [:##k :right_command]
                ;;  [:##l :right_control]
                ;;  [:##semicolon :right_option]

                ;; top row
                ;; control y
                 [:##t :!Wt]

                ;; home row
                ;; control a
                 [:##a :!Wa]
                ;; control e
                 [:##d :!Wd]

                ;; bottom row
                ;; control k
                 [:##v :!Wv]

                ;; number row
                 [:##1 :!W1]
                 [:##2 :!W2]
                 [:##3 :!W3]
                 [:##4 :!W4]
                 [:##5 :!W5]]}]}